* {
    box-sizing: border-box;
    /*border: 1px solid green;*/
}
html {
    font-size: 12px;
    font-family: helvetica;
}
.fixed {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}
.gray_bar {
    background-color: #F7F7F7;
    width: 100%;
    display: inline-block;
    float: left;
    padding-bottom: 0;
    height: 6rem;
}
.red_bar {
    display: inline-block;
    border-color: #FF0000;
    border-width: 0.4rem 0rem 0rem 0rem;
    border-style: solid;
    width: 75%;
    margin-left: 12.5%;
    margin-right: 12.5%;
    float: left;
}
.designco.menu_buttons {
    width: 10rem;
    display: inline-block;
    float: left;
    padding-top: 2rem;
}
.menu_buttons a {
    display: inline-block;
    float: left;
    margin: auto;
    padding: 2.0rem;
    font-size: 1.5rem;
    color: black;
    text-decoration: none;
}
.menu_buttons.home {
    color: red;
}
a:hover {
    background-color: #FF0000;
    transition: background-color 1s;
}
div .menu_buttons {
    font-size: 1.5rem;
}
.icon {
    float: right;
    width: 3.5rem;
    padding: 1.8em 1.8rem 0 0;
}
.main_text {
    margin: 0;
    text-align: center;
}
h1 {
    clear: left;
    padding-top: 10.0rem;
    font-size: 3.2rem;
}
h2 {
    font-weight: normal;
}
h2.main_text {
    padding-bottom: 4.0rem;
}

.image_block {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5rem 0 0 0;
    display: flex;
}
.img {
    width: 100%;
}
.container_left {
    display: flex;
    flex: 2;
    flex-wrap: wrap;
    align-content: flex-start;
}
.container_right {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    align-content: flex-start;
    flex-direction: column;
    padding-left: 10px;
}
.top_left {
    flex: 3;
    min-width: 100%;
    flex-basis: auto;
    padding-bottom: 10px;
}
.top_right {
    flex: 1;
}
.bottom_left {
    flex: 1.2;
}
.bottom_center {
    flex: 1.8;
    padding-left: 10px;
}
.bottom_right {
    flex: 1;
}
.bolded_headers {
    font-weight: bold;
    display: inline-block;
    float: left;
}
.whats_new {
    color: red;
    display: inline-block;
    float: left;
    padding-right: 10rem;
    padding-left: 2.2rem;
}
.modern_layouts {
    display: inline-block;
    float: left;
    padding-left: 4rem;
}
.bottom_text {
    width: 75%;
    margin-left: 12.5%;
    margin-right: 12.5%;
    float: left;
    display: inline-block;
}
.bottom_left_column {
    clear: left;
    display: inline-block;
    float: left;
    padding-left: 2.2rem;
}
.bottom_right_column {
    display: inline-block;
    float: left;
    width: 78%;
    column-count: 3;
    padding: 0 0 1rem 7rem;
}
.bottom_left_column p {
    margin: 0;
}
.bottom_right_column p {
    margin: 0;
}
